//! **************************************************************************
// Written by: Map P.68d on Mon Oct 20 15:17:46 2014
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

