//! **************************************************************************
// Written by: Map P.68d on Sun Nov 02 20:25:52 2014
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

