# This file is a general .ucf for Basys2 rev C board
# To use it in a project:
# - remove or comment the lines corresponding to unused pins
# - rename the used signals according to the project

# clock pin for Basys2 Board
NET "mclk" LOC = "B8";

# Pin assignment for DispCtl
# Connected to Basys2 onBoard 7seg display
NET "ssg<0>" LOC = "L14";
NET "ssg<1>" LOC = "H12"; 
NET "ssg<2>" LOC = "N14"; 
NET "ssg<3>" LOC = "N11"; 
NET "ssg<4>" LOC = "P12"; 
NET "ssg<5>" LOC = "L13"; 
NET "ssg<6>" LOC = "M12"; 
NET "dp" LOC = "N13";

NET "an<3>" LOC = "K14"; 
NET "an<2>" LOC = "M13"; 
NET "an<1>" LOC = "J12"; 
NET "an<0>" LOC = "F12"; 

# Pin assignment for LEDs
NET "Led<7>" LOC = "G1" ; 
NET "Led<6>" LOC = "P4" ; 
NET "Led<5>" LOC = "N4" ;
NET "Led<4>" LOC = "N5" ; 
NET "Led<3>" LOC = "P6" ;
NET "Led<2>" LOC = "P7" ;
NET "Led<1>" LOC = "M11" ;
NET "Led<0>" LOC = "M5" ;

# Pin assignment for SWs
NET "swt<7>" LOC = "N3";
NET "swt<6>" LOC = "E2";
NET "swt<5>" LOC = "F3";
NET "swt<4>" LOC = "G3";
NET "swt<3>" LOC = "B4";
NET "swt<2>" LOC = "K3";
NET "swt<1>" LOC = "L3";
NET "swt<0>" LOC = "P11";

NET "btn<3>" LOC = "A7";
NET "btn<2>" LOC = "M4"; 
NET "btn<1>" LOC = "C11";
NET "btn<0>" LOC = "G12";

# Loop back/demo signals
# Pin assignment for PS2
NET "PS2C"    LOC = "B1" PULLUP;
NET "PS2D"    LOC = "C3" PULLUP;

# Pin assignment for VGA
NET "hs"   LOC = "J14"  PULLUP;
NET "vs"   LOC = "K13"  PULLUP;
NET "red"  LOC = "F13"  PULLUP;
NET "green"  LOC = "G14" PULLUP;
NET "blue"  LOC = "J13" PULLUP;
