//! **************************************************************************
// Written by: Map P.68d on Sat Nov 01 17:45:57 2014
//! **************************************************************************

SCHEMATIC START;
COMP "Led<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "txout" LOCATE = SITE "B2" LEVEL 1;
COMP "reset" LOCATE = SITE "P11" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "rxin" LOCATE = SITE "A3" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "P7" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

